.navbar_container {
    background-color: #A3E6CD;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19)
}
.logo_link {
    text-decoration: none;
    margin-left: 5vh;
}
.home_logo {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Brush Script MT', cursive;
    font-size: 18pt;
    color: black;
}
.buttons_container {
    margin-right: 5vh;
}
.add_contact_button {
    margin-right: 5vh;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        /* TODO: when the screen size is too small, make it a hamburger button with a slide out menu */
    }
}
