.card_container {
    background-color: white;
    width: 75vh;
    border-radius: 10px;
    padding: 1vh;
    padding-left: 2vh;
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avatar_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.divider_decoration {
    border-left: 1px solid rgba(151, 136, 136, 0.521);
    margin-top: 2em;
    margin-bottom: 2em;
}
.content_section {
    flex: 4;
    text-align: center;
}
.outer_name_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contact_name_container {
    width: 300px;
    /* background-color: red; */
}
.contact_name {
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.birthday_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.cake_icon {
    width: 50%;
}

@media screen and (max-width: 800px) {
    .card_container {
        width: 60vh;
    }
    .contact_name_container {
        width: 250px;
    }
}